.App {
  text-align: center;
  background-color:  rgb(4, 14, 156);
  color: white;
  height: 100vh;
}

.container {
  background-color: black;
}

.nav-bar {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  }

.container ul, .container li {
  list-style: none;
  }

  input[type="text"] {
    background-color:black;
  }


@media (min-width: 840px) {
.MainDisplay {
  background-color: rgb(156, 78, 4);
  margin: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-bar {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  }

.container ul, .container li {
  list-style: none;
  }

}





